*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div {
    padding: 0px 36px;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

#intro {
    margin-top: 26px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#playerSelection {
    display: flex;
    justify-content: center;
    gap: 26px;
}

#msgBoard {
    height: 50vh;
    padding: 16px 0;
    border: 3px solid white;
    background-color: black;
    box-shadow: 3px 3px gray;
    color: white;
    overflow: hidden;
}

#msgBoard div {
    margin: 5px 0;
}

button {
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    border: 3px solid black;
    box-shadow: 3px 3px gray;
}

#footer {
    padding: 26px;
    text-align: center;
}